<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <button type="button" class="btn btn-default navbar-btn">Sign in</button>
    <p class="navbar-text">Sign in to start shopping</p>
  </div>
</nav>


<div class="jumbotron">
  <h1 class="text-center">Game Exchange</h1>
  <p class="text-center">Fast-track your gaming with in-game currency and items</p>
  <div class="text-center"> 
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a></p>
  </div>
</div>
