<div class="row">
  <div class="large-3 columns">
    <h1><%= link_to(image_tag('front-page/griffin.png'), home_path) %></h1>
  </div>
  <div class="large-9 columns">
    <ul class="right button-group">
    <li><a href="#" class="button">Games</a></li>
    <li><a href="#" class="button">All Deals</a></li>
    <li><a href="#" class="button">Cart (0)</a></li>
    <li><a href="#" class="button">Sign In</a></li>
    </ul>
  </div>
</div>