<p id="quote">
“Out of every one hundred men, ten shouldn't even be there, 
eighty are just targets, nine are the real fighters, and we are lucky to have
them, for they make the battle. Ah, but the one, one is a warrior, and he will 
bring the others back.” - Heraclitus
</p>
