<div id="tasks">
    <div class="panel">
      <div class="panel-body">
        <%= link_to "Browse Games", games_path, class: "btn btn-default" %>
        <br>
        <br>
        <%= link_to "All Deals", items_path, class: "btn btn-default" %>
      </div>
    </div>
</div>