<div id="tasks">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tasks</h3>
      </div>
      <div class="panel-body">
        <a href="/games" class="btn btn-info" role="button">Browse Games</a>
        <br>
        <br>
        <a href="/items" class="btn btn-info" role="button">All Deals</a>
      </div>
    </div>
</div>