<div class="row">    
   
  <div class="large-10 large-push-2 columns">
    
    
    <h3 class="text-center">Items</h3>
    <br/>
    

    <ul class="accordion" data-accordion="myAccordionGroup">
      <li class="accordion-navigation">
        <a href="#current-items">Current Items</a>
        <div id="current-items" class="content active">
          <%= render 'item_table' %>
        </div>
      </li>
      
      <li class="accordion-navigation">
        <a href="#new-item">Add New Item</a>
        <div id="new-item" class="content">
          <%= render 'new_item' %>
        </div>
      </li>
    </ul>

  </div>
   
  <%= render 'sidebar' %>
  
</div>