<div class="row">    
   
  <div class="large-10 large-push-2 columns">
    
    
    <h3 class="text-center">Orders</h3>
    <br/>
    <p>This is the orders section. There will be a bunch of orders due to fulfill here soon</p>
    <p>Bacon ipsum dolor amet non occaecat capicola, turkey minim brisket strip steak. Quis meatball cupidatat, andouille do irure fugiat dolore pastrami jerky. Alcatra irure consectetur qui sint leberkas sausage ipsum enim deserunt venison nostrud ut. Eu culpa in, beef enim duis incididunt labore mollit.</p>


  </div>
   
  <%= render 'sidebar' %>
  
</div>
   