<div class="row">
  <div class="large-6 large-centered columns">
    <h1 class="text-centered">Remove Item</h1>
    <br/>
    <p>Are you sure you want to remove <%= item.title %>?</p>
    <p>This cannot be undone!</p>
    <br/>
    <%= link_to "I Understand, Blow It Up!", item_destroy_path(item_id: item.id), method: :delete, class: "button" %>
  </div>
</div>