// Place all the styles related to the static-pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//@import "bootstrap-sprockets";
//@import "bootstrap";

//$background: #C8E7FB;
//$background: black;
$background: #2E5E6D;
$jumbo: #0F598D;
$sidebar: #0053A1;
$sidehead: #8CCCE5;
$button: #F8F8F8;

html, body {
  background-color: $background;
  //width: 100%;
}

p, h1, h2, h3, h4 {
  color: white;
}

#footer {
  a:link {
    color: white;
  }
  
  a:visited {
    color: white;
  }
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
}

#logo {
  img{
    background-color: white;
  }
}

#game-logo {
  float: right;
}

#game-info {
  float: left;
}

#image-block {
  
  img {
    background-color: gray;
    width: 500px;
  }
  
  .panel {
    height: 250px;
    
    #item-title {
      height: 50px;
    }
    
    #item-desc {
      height: 60px;
    }
  }
}

#item-image {
  img{
    width: 500px;
  }
}

#item-info {
  height: 407px;
}

#checkout {
  height: 90px;
  
  h5 {
    font-size: 3em;
    float: left;
  }
  
  a {
    float: right;
  }
}
